<ion-header>
    <ion-toolbar>
        <ion-title>ion_fab</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab>
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
            <ion-fab-button>
                <ion-icon name="document"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="color-palette"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="globe"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>